// Colors
$color-white:         rgba(255, 255, 255, 1);
$color-black:         rgba(000, 000, 000, 1);


// Gradients courtesy of http://uigradients.com/
$color-shroom-haze-1: rgba(092, 037, 141, 1);
$color-shroom-haze-2: rgba(067, 137, 162, 1);
