@import "variables";

body {
  color: $color-text2;
  text-transform: uppercase;
  transition: all .2s ease;
  font-weight:bold;
  font-family: "Tahoma", Georgia, "Times New Roman", sans-serif;
  background: url('#{$image-path}/animals/cat.jpg') no-repeat top center;
  background-size: 50%;
}
