// Buttons
.btn {

  display: inline-block;
  width: auto;
  text-transform: uppercase;
  border: 0.2rem solid white;
  border-radius: 3rem;
  background: white;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .1rem;
  transition: all .3s ease;
  min-width: 230px;

  &:hover {
    color: $color-white;
    background: transparent;
  }

  // Sizes
  &--medium {

    padding: 1.5rem 4rem;
    font-size: 1rem;

    .btn__icon {
      font-size: 1.5rem;
      top: 2px;
    };

    .btn__text {
      position: relative;
      top: -2px;
      left: 3px;
    }

  }

  // Colors
  &--shroom-haze {
    color: $color-shroom-haze-1;
  }

}
